* {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}



::-webkit-scrollbar-thumb {
    background: rgb(128,132,136);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(93, 96, 99);
    border-radius: 100vw;
}


/* nav */
nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    width: 100%;
    height: 50px;
    box-shadow: 1px 1px 4px rgb(192, 192, 192);
    position: fixed;
    z-index: 100;
}

nav div.web-logo, div.nav-list, div.empty-nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav div.web-logo h1 a{
    color: rgb(165, 165, 165);
    font-weight: 500;
}

nav a {
    text-decoration: none;
}

nav div.nav-list ul, nav div.nav-list ul li, nav div.nav-list ul li a {
    display: flex;
    color: rgb(165, 165, 165);
    font-weight: 100;
}

nav div.nav-list ul li a:hover{
    color: rgb(70, 70, 70);
}

nav div.nav-list ul {
    justify-content: space-evenly;
    width: 100%;
}




/* nav */
/* section */
section{
    padding-top: 50px;
}

section div.section-welcome {
    padding: 40px;
    text-align: center;
}

section div.section-welcome h1 {
    font-size: 50px;
    font-weight: 500;
}

section div.section-welcome h2 {
    font-size: 25px;
    font-weight: 300;
    color: rgb(165, 165, 165);
}

section div.section-blog{
    height: 300px;
    background-color: white;
}

#vector-welcome{
    position: relative;
    bottom: 50px;
}

div.section-blog{
    padding: 50px;
    text-align: center;
    display: flex;
    flex-flow: column;
}

div.section-blog h1{
    font-size: 30px;
    font-weight: 400;
    color: rgb(102, 102, 102);
    margin-bottom: 25px;
}

div.blog{
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

div.blog h3 {
    font-weight: 200;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}
#blog-1, #blog-2, #blog-3 {
    border: 1px solid rgb(197, 197, 197);
    height: 200px;
    border-radius: 25px;
}

#blog-1:hover, #blog-2:hover, #blog-3:hover {
    border: 1px solid rgb(197, 197, 197);
    height: 200px;
    border-radius: 25px;
    box-shadow: 3px 3px 10px rgb(185, 185, 185);
}

div.section-blog div.blog p{
    font-size: small;
    font-weight: 200;
    color: rgb(138, 138, 138);
    margin: 10px;
}

div.section-blog div.blog a{
    text-decoration: none;
}

/* section */
/* footer */
footer {
    background-color: rgb(237, 237, 237);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div#connect-me, div#connect-me ul, div#connect-me ul li {
    display: flex;
}

div#empty-footer-2 {
    flex-grow:8;
}

div#empty-footer-1 {
    flex-grow:8;
}

h1#logo-footer {
    flex-grow: 1;
    text-align: center;
}

div#connect-me ul {
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
}
div#connect-me ul li a{
    display: flex;
    align-items: center;
    background-color: transparent;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 100vw;
    transition: 0.5s;
}


div#copyright {
    display: flex;
    color:rgb(95,99,104);
    font-weight: 200;
    font-size: small;
    justify-content: center;
}

div#connect-me ul li#connect a:hover {
    background-color: rgb(199, 199, 199);
    transition: 0.5s;
}